@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "plus-jakarta-sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2e2, #c9d6ff);
    color: #333;
}

.container {
    margin: 0 15px;

}

.form-box {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    background: #ffffffe1;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.7);
    display: none;
}

.form-box.active {
    display: block;
} 

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 15px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;

}

input:hover {
    background: #c9d6ff;

}

button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    transition: 0.5s    ;
}
button:hover {
    background: #5f7de0;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 7px;
}

p a {
    text-decoration: none;
    color:#7494ec;
}

p a:hover {
    color: #5f7de0;

}

.error_massage {
    padding: 12px;
    background: wheat;
    border-radius: 6px;
    font-size: 16px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}
